<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-lg-2">

      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to "My Profile", profile_path(@profile), class: "nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to "My Artwork", profile_artworks_path(@profile), class: "active-tab nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Bookings", profile_bookings_path(@profile), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Requests", profile_requests_path(@profile), class: "nav-link"  %>
        </li>
      </ul>



    </div>
    <div class="col-12 col-lg-10">
      <h1 style="font-size: 32px; padding-bottom: 16px">My artwork</h1>
      <div class="cards pb-5">
        <% current_user.artworks.each do |artwork| %>
          <%= link_to artwork, class: "card-artwork" do %>
            <div class="card-trip">
              <img src='<%= artwork.image %>'>
                <div class="card-trip-infos">
                  <div>
                    <h2><%= artwork.title %></h2>
                    <p><%= artwork.tagline %></p>
                  </div>
                  <h2 class="card-trip-pricing" style="font-weight: 500">€<%= artwork.price %></h2>
                </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>



