<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-lg-2">

      <ul class="nav flex-column">
        <li class="nav-item">
          <%= link_to "My Profile", profile_path(@profile), class: "nav-link"  %>
        </li>
        <li class="nav-item">
          <%= link_to "My Artwork", profile_artworks_path(@profile), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Bookings", profile_bookings_path(@profile), class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Requests", profile_requests_path(@profile), class: "active-tab nav-link"  %>
        </li>
      </ul>



    </div>
    <div class="col-12 col-lg-10">
      <h1 style="font-size: 32px; padding-bottom: 16px">My booking requests</h1>
      <div class="pb-5">

        <% my_artworks_with_bookings = current_user.artworks.reject { |artwork| artwork.bookings.empty?} %>
        <% if my_artworks_with_bookings.empty? %>
          <p style="font-size: 18px; padding-bottom: 16px">You currently have no booking requests</p>
        <% else %>
          <div class="pb-5">
            <% my_artworks_with_bookings.each do |artwork| %>
              <% artwork.bookings.each do |booking| %>
                <div style="display: flex; margin: 30px 0px">
                  <div class="image-status">
                    <%= link_to booking.artwork do %>
                      <img src='<%= booking.artwork.image %>' style="height: 220px; border-radius: 4px">
                    <% end %>
                    <p class="top-left" style="">Status: <%=  booking.status %> </p>
                  </div>
                  <div class="profile-description" style="padding: 8px 0px 8px 24px">
                    <h3 style="font-weight: 700">Request for: <%=  booking.artwork.title %> </h3>
                    <p style="margin: 8px 0px">Request from: <%=  booking.artwork.user.profile.first_name %> <%=  booking.artwork.user.profile.last_name %></p>
                    <p style="margin-top: 16px; margin-bottom: 0px">from <%= booking.start_date %></p>
                      <p style="margin: 8px 0px">until <%= booking.end_date %></p>
                      <p style="margin: 8px 0px 16px 0px"><%=  booking.status %> Request from <%= booking.user.email %></p>
                    <% if booking.status != "Awaiting Confirmation" %>
                      <%= link_to("Confirm", bookings_confirm_path(booking), method: :post, data: { confirm: "Are you sure?" },class: "btn btn-primary mr-3 disabled", style: "min-width: 150px") %>
                      <%= link_to("Reject", bookings_reject_path(booking), method: :post,data: { confirm: "Are you sure?" },class: "btn btn-primary mr-3 disabled", style: "min-width: 150px") %>
                    <% else %>
                      <%= link_to("Confirm", bookings_confirm_path(booking), method: :post, data: { confirm: "Are you sure?" },class: "btn btn-primary mr-3", style: "min-width: 150px") %>
                      <%= link_to("Reject", bookings_reject_path(booking), method: :post,data: { confirm: "Are you sure?" },class: "btn btn-primary mr-3", style: "min-width: 150px") %>
                    <% end %>


                  </div>
                </div>
              <% end %>
            <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>
