<h1>Hello <%= @profile.first_name %></h1>

<ul>
    <li> First name: <%= @profile.first_name %></li>
    <li> Last name: <%= @profile.last_name %></li>
    <li> Email: <%= @profile.user.email %></li>
    <li> Address: <%= @profile.address %></li>
    <%# <li> <%= @profile.avatar %>
</ul>

<div class="row">
  <% if policy(@profile).edit? %>
    <%= link_to "Edit", edit_profile_path(@profile), :class => "btn btn-primary"  %>
  <% end %>
</div>
