<h1>Hello <%= @profile.first_name %></h1>

<ul>
    <li> First name: <%= @profile.first_name %></li>
    <li> Last name: <%= @profile.last_name %></li>
    <li> Email: <%= @profile.user.email %></li>
    <li> Address: <%= @profile.address %></li>
    <%# <li> <%= @profile.avatar %>
</ul>

<div class="row">
  <% if policy(@profile).edit? %>
    <%= link_to "Edit", edit_profile_path(@profile), :class => "btn btn-primary"  %>
  <% end %>
</div>


<h2>My Bookings</h2>
<ol>
  <% @current_user.bookings.each do |booking| %>
    <li> <%= booking.artwork.title  %> <%= link_to "Delete", booking_path(booking), method: :delete, data: { confirm: "Are you sure?" } , :class => "btn btn-primary"  %> </li>
  <% end %>
</ol>
