<h1>Hello <%= @profile.first_name %></h1>

<ul>
    <li> First name: <%= @profile.first_name %></li>
    <li> Last name: <%= @profile.last_name %></li>
    <li> Address: <%= @profile.address %></li>
    <%# <li> <%= @profile.avatar %>
</ul>
<%= link_to "Edit", edit_profile_path(@profile) %>