<div class="container">

  <div class="row mt-5">
    <div class="col-12 col-lg-2">
      <%= render 'shared/navigation' %>
    </div>
    <div class="col-12 col-lg-6">
      <h1 style="font-size: 32px">Hello, <%= @profile.first_name %>!</h1>
        <div class="profile-description">
        <p>First name</p>
        <h3> <%=  @profile.first_name %> </h3>
        <p>Last name</p>
        <h3> <%= @profile.last_name %></h3>
        <p>Email</p>
        <h3><%= @profile.user.email %></h3>
        <p>Address</p>
        <h3><%= @profile.address %></h3>
        <p>Description</p>
        <h3><%= @profile.description %></h3>
        <% if policy(@profile).edit? %>
          <%= link_to "Edit my profile", edit_profile_path(@profile), :class => "btn btn-primary px-5 my-5"  %>
        <% end %>
        </div>
    </div>
    <div class="col-12 col-lg-4">

<div class="artwork-img-box">
        <% if @profile.avatar? %>
          <%= cl_image_tag @profile.avatar,
          class: "artwork-img",
          style: "border-radius: 4px; filter: drop-shadow(0px 4px 4px #b7b7b7)"; %>
        <% end %>
      </div>

    </div>
  </div>
</div>
