<div class="container">
  <h1 class="pt-5 text-center">Art just for you!</h1>
  <div class="pt-2 pb-5 text-center">
  <% if params[:search] && params[:search] != "" %>
    <h2>Here's your search for : <%= params[:search] %></h2>
  <% else %>
    <h2>Here's all what we have</h2>
  <% end %>
  </div>

<div class="container" style="margin-bottom: 24px">
  <div class="row", style="align-items:flex-end; background: #f7f0e1; padding: 20px 10px">
    <div class="col-12 col-md-3">
        <%= form_tag artworks_path, method: :get do %>
            <p style="font-weight: 500; font-size: 16px; line-height: 16px; margin: 0px 0px 12px 0px ">Keyword</p>
            <%= search_field_tag :search,
                params[:search],
                class: "form-control search-navbar",
                style: "height: 48px; border-radius: 4px; width: 100%",
                placeholder: "Keyword"
              %>
      </div>
      <div class="col-12 col-md-3">
          <p style="font-weight: 500; font-size: 16px; line-height: 16px; margin: 0px 0px 12px 0px " >Location</p>
          <%= text_field_tag :search_location,
            params[:search_location],
            class: "form-control search-navbar",
            style: "height: 48px; border-radius: 4px; width: 100%",
            placeholder: "Location"
          %>
      </div>
      <div class="col-12 col-md-3">
          <p style="font-weight: 500; font-size: 16px; line-height: 16px; margin: 0px 0px 12px 0px ">Distance</p>
          <%= number_field_tag :search_location_radius,
            params[:search_location_radius],
            in: 0..100,
            class: "form-control search-navbar",
            style: "height: 48px; border-radius: 4px; width: 100%",
            placeholder: "Distance (in km)"
          %>
      </div>
      <div class="col-12 col-md-3">
          <%= submit_tag 'Search',
            class: "searchbutton-navbar button-yellow btn btn-primary mr-3",
            style: "height: 48px; border-radius: 4px; width: 100%"%>
      </div>
    <% end %>
  </div>
</div>

  <div class="container">
    <div class="cards pb-5">
        <%= render partial: 'card', collection: @artworks_filter, as: :artwork %>
    </div>
  </div>
</div>

  <!-- Will display a map on the show page only if address a present -->
  <% if @markers %>
    <div
      id="map"
      style="width: 100%;
      height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  <% end %>
