<div class="container">
  <h1 class="pt-5 text-center">Art just for you!</h1>
  <div class="pt-2 pb-5 text-center">
  <% if params[:search] && params[:search] != "" %>
    <h2>Here's your search for : <%= params[:search] %></h2>
  <% else %>
    <h2>Here's all what we have</h2>
  <% end %>
  </div>

  <div class="container my-3 ">

    <div class="card-trip bg-primary">

      <p>Search :</p>
          <div class=" py-3">
            <p>Search by keyword</p>
            <%= render 'shared/search_bar' %>
            <p>Search by location/ :</p>

            <%= form_tag artworks_path, method: :get, :class => "form-inline" do %>
              <%= search_field_tag :search_location,
                params[:search_location],
                class: "form-control search-navbar ml-3",
                placeholder: "Location"
              %>
              <%= number_field_tag :search_location_radius,
                params[:search_location_radius],
                in: 0..100,
                class: "form-control search-navbar ml-3",
                placeholder: "Distance (in km)"
              %>
<!--               <%= range_field_tag :search_slider,
                params[:search_slider],
                in: 0..100,
                class: "form-control search-navbar ml-3",
                placeholder: "Distance (in km)"
              %> -->
              <%= submit_tag 'Search', class: "searchbutton-navbar button-yellow btn btn-primary mr-3"%>

            <% end %>


        </div>
    </div>
  </div>

  <div class="container">
    <div class="cards pb-5">
        <%= render partial: 'card', collection: @artworks_filter, as: :artwork %>
    </div>
  </div>
</div>

  <!-- Will display a map on the show page only if address a present -->
  <% if @markers %>
    <div
      id="map"
      style="width: 100%;
      height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  <% end %>
