<h1>Create a new piece of art</h1>

<%= simple_form_for(@artwork) do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :image %>
    <%= f.input :image_cache, as: :hidden %>
    <%= f.input :kind %>
    <%= f.input :price %>
    <%= f.input :width %>
    <%= f.input :height %>
    <%= f.input :tagline %>
    <%= f.submit "Create", class: "btn btn-primary" %>
    <%#= link_to "Delete", root_path, method: :delete, data: { confirm: "Are you sure you want to delete your profile?"} %>
<% end %>
