<%= link_to "<-- Back to all artwork list", artworks_path, :class => "btn btn-secondary" %>
<div class="container">
  <div class="row">

    <div>
      <h1><%= @artwork.title %></h1>
      <p><%= @artwork.tagline %></p>
      <p> Kind: <%= @artwork.kind %></p>
      <p> Width: <%= @artwork.width %></p>
      <p> Height: <%= @artwork.height %></p>
    </div>

    <% if @artwork.image? %>
      <%= cl_image_tag @artwork.image, height: 300, width: 400, crop: :fill %>
    <% end %>
  </div>

  <div class="row">
    <p><%= @artwork.description %></p>
    <p> - <%=  @artwork.price %> €/day</p>
  </div>

  <div class="row">
    <% if @artwork.user != current_user %>
    <%= link_to "Book now", new_artwork_booking_path(@artwork), :class => "btn btn-primary"  %>
    <% end %>
  </div>

  <div class="row">
    <% if policy(@artwork).edit? %>
      <%= link_to "Edit", edit_artwork_path(@artwork), :class => "btn btn-primary"  %>
    <% end %>
  </div>

  <div class="row">
    <% if policy(@artwork).destroy? %>
      <%= link_to "Delete", artwork_path(@artwork), method: :delete, data: { confirm: "Are you sure?" } , :class => "btn btn-primary"  %>
    <% end %>
  </div>

  <!-- Will display a map on the show page only if address a present -->
  <% if @markers %>
    <div
      id="map"
      style="width: 100%;
      height: 300px;"
      data-markers="<%= @markers.to_json %>"
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
    ></div>
  <% end %>

</div>
