
<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-lg-4">
      <%= link_to "Back to all artwork", artworks_path, :class => "mb-3 btn bg-transparent text-primary pl-0" %>
      <h1><%= @artwork.title %></h1>
      <h3><%= @artwork.tagline %></h3>
      <div class="d-flex" style="margin-bottom: 24px;">
        <% if policy(@artwork).edit? %>
          <%= link_to "Edit Artwork", edit_artwork_path(@artwork), :class => "pl-0 btn bg-transparent text-secondary mr-3"  %>
        <% end %>
        <% if policy(@artwork).destroy? %>
          <%= link_to "Delete Artwork", artwork_path(@artwork), method: :delete, data: { confirm: "Are you sure?" } , :class => "btn bg-transparent text-secondary ml-3"  %>
        <% end %>
      </div>
      <div class="artwork-description">
        <h3>Description<h3>
        <p><%= @artwork.description %></p>
      </div>

      <div class="artwork-description">
        <h3>Price per day<h3>
        <p>EUR <%=  @artwork.price %></p>
      </div>

     <% if @artwork.user != current_user %>
      <% if current_user.profile.last_name.nil?  && current_user.profile.address.nil?   %>
        <%= link_to "Book now", edit_profile_path(current_user.profile),
          class: "btn btn-primary",
          style: "min-width: 150px"   %>
      <% else %>
        <%= link_to "Book now", new_artwork_booking_path(@artwork),
          class: "btn btn-primary",
          style: "min-width: 150px"  %>
      <% end %>
    <% end %>
    </div>

    <div class="col-12 col-lg-8" >
      <div class="artwork-img-box">
        <% if @artwork.image? %>
          <%= cl_image_tag @artwork.image, class: "artwork-img" %>
        <% end %>
      </div>
    </div>

  </div>

  <div class="row my-5">

    <div class="col-12 col-lg-4" >

    <% if @markers %>
      <div
        id="map"
        style="width: 100%;
        height: 300px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    <% end %>
   </div>

    <div class="col-12 col-lg-8">
      <div class="artwork-description" style="margin-top: 0px;">
        <h3>Artwork type<h3>
        <p><%= @artwork.kind %></p>
      </div>
      <div class="artwork-description">
        <h3>Object size<h3>
        <p><%= @artwork.width %>cm x <%= @artwork.height %>cm</p>
      </div>
      <div class="artwork-description">
        <h3>Location<h3>
        <p><%= @artwork.user.profile.address %></p>
      </div>
    </div>
  </div>
</div>
