<section>
  <div class="banner" style="background-image: linear-gradient(to bottom, rgba(0,0,0,0.6),rgba(0,0,0,0.8)), url(<%= asset_url 'monkey_image.jpg' %>);">
    <div class="container">
        <h1 class="text-center">MonaLeasing<br>Rent your piece of art.</h1>
        <h2 class="text-center">We bring you the world’s best art right to your living room.</h2>
        <div class="centered">
          <%= form_tag artworks_path, method: :get, :class => "form-inline" do %>
          <%= text_field_tag :search,
              params[:search],
              class: "search-landing form-control",
              placeholder: "Find a piece of art"%>
          <%= submit_tag 'Search', class: "p-3 button-yellow searchbutton-landing btn btn-primary"%>
          <% end %>
        </div>
    </div>
  </div>
</section>
<section>
  <div class="align-middle" style="padding: 80px">
    <div>
      <h2 class="text-center mb-4">Are you a collector and want to make some money?</h2>
      <div class="centered">
      <%= link_to "Create a piece of art", new_artwork_path,
        class: "p-3 searchbutton-landing btn btn-primary",
        style: "border-radius: 4px"  %>
      </div>
    </div>
  </div>
</section>
